{%load static%}
<h2>Installation de la base de données postgresql</h2>

<p>L'utilisation de DBeaver pour manipuler des données s'impose pour sa facilité.</p>

<div>
    <h3>Initialisation de DBeaver</h3>
    <img src="{%static 'img/image3.png'%}" src="DBeaver">
</div>

<div>
    <h3>Aucun serveur de PostgreSQL n'est installé sur DBeaver. Je choisis Nouvelle Connexion à une base de données</h3>
    <img src="{%static 'img/image1.png'%}" src="DBeaver">
</div>

<div>
    <h3>L'assistant propose plusieurs choix de bases de données. Je choisis PostgreSQL</h3>
    <img src="{%static 'img/image2.png'%}" src="DBeaver">
</div>

<div>
    <h3>PostgreSQL est désormais initialisé sur DBeaver</h3>
    <img src="{%static 'img/image4.png'%}" src="DBeaver">
</div>